@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


.div1{
  font-family: 'Varela Round';
  margin: 2em;
  padding-left: 15% ;
  border-width: medium;
  border-style: dashed;
  border-color: aqua;
  border-radius: 2px;
  box-sizing: content-box;
}
.div2{
  font-family: 'Varela Round';
  padding-left: 25%;
  border-style: double;
  border-color: aquamarine;

}
.h1{ color: grey; 
  font-family: 'Helvetica Neue', sans-serif;
   font-size: 300%; 
   font-weight: bold;
    letter-spacing: -1px;
     line-height: 1;
      text-align: center; }

.getstat{
display: inline-block;
padding:0.35em 1.2em;
color: black;
border:0.1em solid #FFFFFF;
margin:0 0.3em 0.3em 0;
border-radius:0.12em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
text-align:center;
transition: all 0.2s;
}
.inputF{
display: inline-block;
    width: 25%;
    padding: 4px 6px;
    line-height: 15px;
    font-size: 15px;
    font-weight: 50;
    font-family: inherit;
    border-radius: 2px;
    -webkit-appearance: none;
    color: black;
    border: 1px solid #CDD9ED;
    background: #fff;
    transition: border .3s ease;
}
@media only screen and (max-width: 600px) {
  

}